.form-container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    background-color: white;
    box-shadow: 10px 5px 10px 2px black;
}

.form-registration{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.input-form{
    width: 200px;
    height: 30px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.form-button{
    margin: 20px;
    width: 150px;
    height: 30px;
    color:white;
    font-size: 20px;
    background-color: #4b4bff;
    border: 1px solid black;
    border-radius: 20px;
}

.fullinfo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
}

p{
    color:red;
    font-size:x-small;
}

.succes-message{
    margin:10px 0 ;
    padding: 10px;
    border: 2px solid blue;
    background-color: #4b4bff;
    color:white;
}