*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #4d4dffcb;
}

.dark{
  transition: 2s;
  background-color: rgb(11, 0, 57);
}

.slider{
  background-color: white;
  width: 90px;
  height: 40px;
  border:1px solid black;
  border-radius: 20px;
}


.slide{
  
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  transition: 1s;
  background-color:rgb(11, 0, 57);
  
}

.slide:focus{
  transform: translateX(50px);
  background-color: rgb(249, 0, 0);
}




